In [13]:
import pandas as pd

In [14]:
pd.__version__

'1.5.3'

In [15]:
# https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf # data dictionary
# !wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet

In [16]:
df = pd.read_parquet('./yellow_tripdata_2023-01.parquet')

df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [17]:
df.to_csv('yellow_tripdata_2023-01.csv')

In [5]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [6]:
from sqlalchemy import create_engine

In [7]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-macosx_11_0_arm64.whl (2.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 31.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [18]:
df_iter = pd.read_csv('./yellow_tripdata_2023-01.csv', iterator=True, chunksize=100000)

In [19]:
df = next(df_iter)

In [20]:
len(df)

100000

In [21]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [24]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [25]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.55 s, sys: 140 ms, total: 2.69 s
Wall time: 14.5 s

1000

In [27]:
from time import time

In [28]:
while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print(f'inserted another chunk.., took {t_end - t_start} seconds')

inserted another chunk.., took 15.164906978607178 seconds
inserted another chunk.., took 14.541368961334229 seconds
inserted another chunk.., took 16.56558394432068 seconds
inserted another chunk.., took 14.741838932037354 seconds
inserted another chunk.., took 16.134429931640625 seconds
inserted another chunk.., took 15.985946893692017 seconds
inserted another chunk.., took 18.20388698577881 seconds
inserted another chunk.., took 16.703395128250122 seconds
inserted another chunk.., took 21.22197985649109 seconds
inserted another chunk.., took 17.89691185951233 seconds
inserted another chunk.., took 18.806879997253418 seconds
inserted another chunk.., took 25.455507040023804 seconds
inserted another chunk.., took 16.919045209884644 seconds
inserted another chunk.., took 17.422603845596313 seconds
inserted another chunk.., took 29.91583013534546 seconds
inserted another chunk.., took 15.407117128372192 seconds
inserted another chunk.., took 15.198439836502075 seconds
inserted another chunk.., took 23.604979991912842 seconds
inserted another chunk.., took 21.368502140045166 seconds
inserted another chunk.., took 15.417885065078735 seconds
inserted another chunk.., took 21.1143639087677 seconds
inserted another chunk.., took 25.5518581867218 seconds
inserted another chunk.., took 19.001911163330078 seconds
inserted another chunk.., took 17.495781898498535 seconds
inserted another chunk.., took 17.42712903022766 seconds
inserted another chunk.., took 18.567234992980957 seconds
inserted another chunk.., took 27.119860887527466 seconds
inserted another chunk.., took 23.769772052764893 seconds

/var/folders/yd/3722y6q103bb9dt_rln7vymm0000gn/T/ipykernel_82969/3012857125.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk.., took 26.34002685546875 seconds
inserted another chunk.., took 14.166258335113525 seconds

StopIteration:

: